default:
    trainer: ppo
    batch_size: 1024
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.2
    hidden_units: 128
    lambd: 0.95
    learning_rate: 3.0e-4
    learning_rate_schedule: linear
    max_steps: 5.0e4
    memory_size: 256
    normalize: true
    num_epoch: 3
    num_layers: 2
    time_horizon: 64
    sequence_length: 64
    summary_freq: 1000
    use_recurrent: false
    # vis_encode_type: simple
    reward_signals:
        extrinsic:
            strength: 1.0
            gamma: 0.99

CubeGuyObstacles:
    learning_rate_schedule: constant
    # batch_size: 256
    # buffer_size: 4096
    max_steps: 1.5e6
    normalize: false
    vis_encode_type: simple
    reward_signals:
        curiosity:
            strength: 0.05
            gamma: 0.98
            encoding_size: 128

BoxGuy:
    max_steps: 5.0e5
    learning_rate: 1e-4
    num_epoch: 3
    batch_size: 128
    buffer_size: 2048
    time_horizon: 128
    sequence_length: 128
    beta: 1.0e-2
    hidden_units: 64
    summary_freq: 2000
    time_horizon: 128
    num_layers: 2
    normalize: true
    reward_signals:
        extrinsic:
            strength: 1.0
            gamma: 0.95
        curiosity:
            strength: 0.02
            gamma: 0.99
            encoding_size: 128

BoxGuyVisual:
    max_steps: 5.0e5
    learning_rate: 1e-4
    num_epoch: 3
    batch_size: 128
    buffer_size: 2048
    time_horizon: 128
    sequence_length: 128
    beta: 1.0e-2
    hidden_units: 64
    summary_freq: 2000
    time_horizon: 128
    num_layers: 2
    normalize: true
    # vis_encode_type: simple
    reward_signals:
        extrinsic:
            strength: 1.0
            gamma: 0.95
